/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.1px solid white; */
}

body {
    /* Default value in body. */
    font-size: 1rem;
}

.universalPadding {
    /*Padding for all containers\boxes */
    padding-left: 10em !important;
    padding-right: 10em !important;
}


/* ******************************* Header starts here  ****************************** */

#header {
    overflow: auto;
    background-color: blue;
}

#headerLeft {
    float: left;
    padding: 0.5em 0em;
    color: white;
}

#headerRight {
    float: right;
    padding: 0.5em 0em;
    color: white;
}


/* ******************************* Navbar starts here  ****************************** */

#navBar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navLogo {
    width: 30%;
}

#navLogo img {
    cursor: pointer;
    filter: invert(100%);
    width: 4em;
    padding: 0.5em 0em 0em 0em;
}

#navLi {
    width: 60%;
}

#navLi ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#navLi ul li {
    font-size: 1.2em;
    font-weight: bold;
    list-style-type: none;
}

#navLi ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

#navLi ul li a:hover {
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
}

#hamBurger {
    text-align: end;
    filter: invert(100%);
}

#hamBurger img {
    width: 2em;
    cursor: pointer;
    display: none;
}

#crossMark {
    display: none;
}


/* ******************************* Main Section starts here ****************************** */

#mainSection {
    background-color: blueviolet;
    background: url("../Img/mainContainer.jpg");
    width: 100%;
    height: 87.3vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainHeadingContainer {
    font-family: 'Times New Roman', Times, serif;
}

#smallHeading {
    font-size: 1em;
    padding-left: 6em;
}

#mainHeadingContainer h1 {
    font-size: 3.5em;
    cursor: pointer;
    display: inline-block;
}

#mainHeadingContainer p {
    font-size: 1.2em;
    padding-top: 1em;
}


/* ******************************* Profile Section started here ****************************** */

#profileSection {
    padding: 4em 0em 4em 0em;
    font-size: 1.2em;
    background-color: antiquewhite;
    border: 2px solid black;
}

#profileHeading {
    width: 50%;
    display: inline-block;
    text-align: justify;
}

#profileHeading p {
    padding-top: 1em;
}

#profileDP {
    width: 45%;
    display: inline-block;
    text-align: center;
}

#profileDP img {
    max-width: 8em;
    height: auto;
}


/* ******************************* Show Section starts here ****************************** */

#showSection {
    display: flex;
    background-color: rgb(209, 223, 223);
}

#showImg {
    display: flex;
    width: 49%;
    justify-content: center;
    align-items: center;
}

#showImg img {
    width: 25em;
    margin: 0;
    display: inline-block;
    border-radius: 30px;
}

#showHeading {
    width: 49%;
    display: inline-block;
    padding: 4em 4em 4em 4em;
}

#showSmallHeading {
    font-size: 1.5em;
}

#showHeading h2 {
    font-size: 2em;
    padding-bottom: 1em;
}

#showHeading p {
    font-size: 1em;
    padding-bottom: 1.5em;
}

#checkBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#checkBox img {
    width: 2.5em;
    border-radius: 50%;
    margin-right: 1em;
}

.halfCheckBox {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 0.4em;
    flex-wrap: wrap;
}

.checkText {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


/* ******************************* Project Section starts here ****************************** */

#projectSection {
    text-align: center;
    padding: 4em 0em 4em 0em;
}

#projectSection h2 {
    font-size: 2em;
}

#projectSection>p {
    font-size: 1.2em;
    padding: 1em 0;
}

#projectBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectBoxes {
    border: 2px solid black;
    border-radius: 5px;
    padding: 1em 1em 2em 1em;
    margin: 1em 1em 1em 1em;
    width: 17em;
    box-shadow: 7px -7px 49px -29px rgba(0, 0, 0, 0.94);
    -webkit-box-shadow: 7px -7px 49px -29px rgba(0, 0, 0, 0.94);
    -moz-box-shadow: 7px -7px 49px -29px rgba(0, 0, 0, 0.94);
}

.projectBoxes a {
    color: black;
    text-decoration: none;
}

.projectBoxes h4 {
    font-size: 1.2em;
    margin: 1em 0;
}

.projectBoxes img {
    width: 4em;
}


/* ******************************* Contact Section starts here ****************************** */

#contactSection {
    text-align: center;
    padding: 4em 0;
    background-color: blanchedalmond;
}

#contactSection h2 {
    font-size: 2em;
}

#contactSection>p {
    padding: 2em 0;
    font-size: 1.2em;
}

#contactBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactBoxes {
    padding: 1em 1em 0em 1em;
    margin: 1em;
    width: 17em;
}

.contactBoxes a {
    color: black;
    text-decoration: none;
}

.contactBoxes img {
    width: 3em;
    border-radius: 25%;
    margin-bottom: 0.5em;
}

.contactBoxes h4 {
    font-size: 1.5em;
}

.contactBoxes p {
    font-size: 1em;
    padding: 1em 0;
}


/* ******************************* CV Download section starts here ****************************** */

#CVSection {
    padding: 3em 0;
    text-align: center;
}

#CVSection h4 {
    font-size: 1.5em;
}

#CVFlexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 0;
}

#CVText {
    width: 50%;
    text-align: center;
}

#CVDownload {
    width: 50%;
}

#CVDownload a img {
    width: 5em;
}


/* ******************************* Footer area starts here ****************************** */

#footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0 1em 0;
}

#footer a {
    text-decoration: none;
    color: white;
}


/* ******************************* Responsive for 1000 Px ****************************** */

@media only screen and (max-width:1400px) {
    .halfCheckBox {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width:1000px) {
    .universalPadding {
        padding-left: 5em !important;
        padding-right: 5em !important;
    }
    .contactBoxes {
        padding: 1em 0em 0em 0em;
        margin: 0em;
        width: 15em;
    }
    .halfCheckBox {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width:900px) {
    .universalPadding {
        padding-left: 3em !important;
        padding-right: 3em !important;
    }
    #mainHeadingContainer h1 {
        font-size: 2.2em;
    }
    #showHeading {
        padding: 4em 0em 4em 4em;
    }
    .halfCheckBox {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width:700px) {
    #showImg img {
        width: 19em;
    }
    #showSmallHeading {
        font-size: 1.3em;
    }
    #mainHeadingContainer h1 {
        font-size: 1.8em;
    }
    #profileHeading {
        width: 52%;
        text-align: center;
    }
}

@media only screen and (max-width:650px) {
    /* Mobile hamburger style */
    #navLi ul {
        display: none;
    }
    #hamBurger img {
        display: inline-block;
    }
    #hamBurger {
        padding-left: 14em;
    }
    #crossMark {
        display: flex;
        flex-direction: row-reverse;
    }
    #navLi {
        width: 70%;
        background-color: #5c2133de;
        position: absolute;
        height: 100vh;
        top: 0px;
        left: -70%;
        transition: all 0.5s ease;
    }
    #navLi ul {
        display: block;
    }
    #navLi ul li {
        padding: 1em;
        text-align: center;
    }
    #profileHeading {
        width: 100%;
        margin-bottom: 1.5em;
    }
    #profileDP {
        width: 100%;
    }
    #showSection {
        flex-wrap: wrap;
    }
    #showImg {
        padding-top: 4em;
        width: 100%;
    }
    #showHeading {
        width: 100%;
    }
}

@media only screen and (max-width:400px) {
    #profileSection {
        font-size: 1em;
    }
    #showHeading {
        padding: 4em 0em 4em 0em;
    }
    .halfCheckBox {
        flex-wrap: nowrap;
    }
    #profileHeading p {
        text-align: justify;
    }
    footer {
        font-size: 0.8em;
        padding: 0.8em 0 0.8em 0 !important;
    }
    #hamBurger {
        padding-left: 10em;
    }
    #mainHeadingContainer h1 {
        font-size: 1.4em;
    }
    #smallHeading {
        padding-left: 2em;
    }
}

@media only screen and (max-width:300px) {
    .universalPadding {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    #headerLeft {
        float: none;
        text-align: center;
    }
    #headerRight {
        float: none;
        text-align: center;
    }
    #navLogo {
        width: 37%;
    }
    #smallHeading {
        padding-left: 0;
        text-align: center;
    }
    #mainHeadingContainer h1 {
        font-size: 1em;
    }
    #mainHeadingContainer {
        text-align: center;
    }
    #showImg img {
        width: 10em;
    }
    #showHeading {
        text-align: center;
    }
    #showHeading h2 {
        font-size: 1.5em;
    }
    footer {
        font-size: 0.8em;
        padding: 0.8em 0 0.8em 0 !important;
    }
    .halfCheckBox {
        width: 100%;
        text-align: center;
        padding-left: 3em;
    }
    #hamBurger {
        padding-left: 6em;
    }
}

@media only screen and (max-width:200px) {
    #showImg img {
        width: 9em;
    }
    #checkBox {
        align-items: flex-start;
        flex-direction: column;
    }
    footer {
        font-size: 0.8em;
        padding: 0.8em 0 0.8em 0 !important;
    }
    #hamBurger {
        padding-left: 3em;
    }
}