<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFolio</title>

    <!-- Added CSS -->
    <link rel="stylesheet" href="./CSS/style.css">
    <!-- Favicon Here -->
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
    <link rel="manifest" href="./favicon_io/site.webmanifest">
</head>

<body>
    <!-- Header Starts here -->
    <header>
        <div id="header" class="universalPadding">
            <div id="headerLeft"> Lorem ipsum dolor init</div>
            <div id="headerRight">lorem ipsum</div>
        </div>
        <nav id="navBar" class="universalPadding">
            <div id="navLogo">Logo</div>
            <div id="navLi">
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#profileSection">About</a></li>
                    <li><a href="#contactSection">Contact US</a></li>
                    <li><a href="#CVSection">CV</a></li>
                    <li><a href="#projectBox">Projects</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Main Section starts here -->
    <section id="mainSection" class="universalPadding">
        <div id="smallHeading">Lorem ipsum dolor sit.</div>
        <div id="mainHeadingContainer">
            <h1>Lorem, ipsum dolor.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br> Ipsam temporibus soluta eos beatae esse odit sunt iure, est minus hic?
            </p>
        </div>
    </section>

    <!-- Profile Section starts here -->
    <section id="profileSection" class="universalPadding">
        <div id="profileHeading">
            <h3> Hello I'm </h3>
            <h2> Web Designer & Developer. </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui veniam natus est minus, nesciunt aspernatur necessitatibus corporis voluptatum fugit tempora amet quia neque reprehenderit accusamus aliquam iste sit ab vero.</p>
        </div>
        <div id="profileDP">
            <!-- <img src="./Img/profile.png" alt="reload page"> -->
        </div>
    </section>

    <!-- ShowBox -->
    <section id="showSection" class="universalPadding">
        <div id="showImg">.
            <!-- <img src="./Img/show_image.jpg" alt="Img"> -->
        </div>
        <div id="showHeading">
            <div id="showSmallHeading">Lorem ipsum dolor sit.</div>
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam temporibus soluta eos beatae esse odit sunt iure, est minus hic?</p>
            <div id="checkBox">
                <div class="halfCheckBox">
                    <img class="check" src="./Img/Icons/Check-circle.gif" alt="Check">
                    <span class="checkText"> Lorem ipsum1 </span>
                </div>
                <div class="halfCheckBox">
                    <img class="check" src="./Img/Icons/Check-circle.gif" alt="Check">
                    <span class="checkText"> Lorem ipsum2 </span>
                </div>
                <div class="halfCheckBox">
                    <img class="check" src="./Img/Icons/Check-circle.gif" alt="Check">
                    <span class="checkText"> Lorem ipsum3 </span>
                </div>
                <div class="halfCheckBox">
                    <img class="check" src="./Img/Icons/Check-circle.gif" alt="Check">
                    <span class="checkText"> Lorem ipsum4 </span>
                </div>
                <div class="halfCheckBox">
                    <img class="check" src="./Img/Icons/Check-circle.gif" alt="Check">
                    <span class="checkText"> Lorem ipsum5 </span>
                </div>
                <div class="halfCheckBox">
                    <img class="check" src="./Img/Icons/Check-circle.gif" alt="Check">
                    <span class="checkText"> Lorem ipsum6 </span>
                </div>
            </div>
        </div>
    </section>

    <!-- project Box -->
    <section id="projectSection" class="universalPadding">
        <h2>My Projects</h2>
        <div>_____________________</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quia iusto at ex ipsam delectus necessitatibus in cum molestias magnam.</p>
        <div id="projectBox">
            <div class="projectBoxes">
                <img src="./Img/Icons/Html.gif" alt="HTML">
                <h4>Lorem1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
            <div class="projectBoxes">
                <img src="./Img/Icons/Python.gif" alt="Python">
                <h4>Lorem2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
            <div class="projectBoxes">
                <img src="./Img/Icons/Github.gif" alt="GitHub">
                <h4>Lorem3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
            <div class="projectBoxes">
                <img src="./Img/Icons/Javascript.gif" alt="JS">
                <h4>Lorem4</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
            <div class="projectBoxes">
                <img src="./Img/Icons/QR-code.gif" alt="QR">
                <h4>Lorem5</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
            <div class="projectBoxes">
                <img src="./Img/Icons/Developer-mode.gif" alt="DV mode">
                <h4>Lorem6</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
        </div>

    </section>

    <!-- Contact us Box -->
    <section id="contactSection" class="universalPadding">
        <h2>Get in Touch</h2>
        <div>_____________________</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quia iusto at ex ipsam delectus necessitatibus in cum molestias magnam.</p>
        <div id="contactBox">
            <div class="contactBoxes">
                <img src="./Img/Icons/Html.gif" alt="HTML">
                <h4>Lorem1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
            <div class="contactBoxes">
                <img src="./Img/Icons/Python.gif" alt="Python">
                <h4>Lorem2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
            <div class="contactBoxes">
                <img src="./Img/Icons/Github.gif" alt="GitHub">
                <h4>Lorem3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, perspiciatis.</p>
            </div>
        </div>
    </section>

    <!-- CV Download section -->
    <section id="CVSection" class="universalPadding">
        <h4>Resume</h4>
        <div>_____________________</div>
        <div id="CVFlexBox">
            <div id="CVText">
                Please click on download option to download CV.
            </div>
            <div id="CVDownload">
                <a href="./Img/Icons/Vanshul_Kesharwani_Resume.pdf" download><img src="./Img/Icons/Download.gif" alt="download"></a>
            </div>
        </div>

    </section>

    <!-- Footer area starts here -->
    <footer id="footer" class="universalPadding">
        Vanshul's PortFolio &copy; 2022 Copyright
        <a href="mailto:vkvanshulkesharwani54@gmail.com">vkvanshulkesharwani54@gmail.com</a>
    </footer>

    <!-- Added JavaScript -->
    <script src="./JS/script.js"></script>

</body>

</html>

</html>